/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$link-color: #5A736C !default;
$link-color-hover: #0C261F !default;
/* Colors */
$primary-color: #0C261F !default;
$footer-background-color: $primary-color !default;
$type-size-1 : 1.953em;  // ~31.248px
$type-size-2 : 1.563em;  // ~25.008px
$type-size-3 : 1.25em;   // ~20px
$type-size-4 : 1em;      // ~16px
$type-size-5 : 0.75em;   // ~12px
$type-size-6 : 0.6875em; // ~11px
$type-size-7 : 0.625em;  // ~10px
$type-size-8 : 0.615em;  // ~10px